body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 2rem;
}
main {
  flex-grow: 1;
  margin: auto;
}
/* SKA TAS BORT SENARE */
div {
  border: 2px dotted purple;
  padding: 1rem;
  margin: 1rem;
}
