body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #faf0e6 !important;
}
#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
}
main {
  flex-grow: 1;
  margin: auto;
}
/* SKA TAS BORT SENARE */
div {
  /* border: 2px dotted purple; */
  /* padding: 1rem;
  margin: 1rem; */
}

/* BLOGS  */
.title-home,
.sub-title-home {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-home {
  font-size: 3.5rem;
}

.delete-btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 0.3rem 0.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}
.delete-icon {
  color: black;
  font-size: 1.2rem;
}
